<configuration>
  <system.webServer>  
    <rewrite>  
        <rules>  
          <rule name="Redirect rquests to default azure websites domain" stopProcessing="true">
            <match url="(.*)" />  
            <conditions logicalGrouping="MatchAny">
              <add input="{HTTP_HOST}" pattern="^sakinyasamorg\.azurewebsites\.net$" />
              <add input="{HTTP_HOST}" pattern="^sakinyasam\.com$" />
              <add input="{HTTP_HOST}" pattern="^www\.sakinyasam\.com$" />
              <add input="{HTTP_HOST}" pattern="^slowpark\.org$" />
              <add input="{HTTP_HOST}" pattern="^www\.slowpark\.org$" />
              <add input="{HTTP_HOST}" pattern="^www\.sakinyasam\.org$" />
            </conditions>
            <action type="Redirect" url="http://sakinyasam.org/{R:0}" />  
          </rule>  
        </rules>  
    </rewrite>  
  </system.webServer>  
</configuration>  
